* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;  
}


/*-------Header-------*/
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px; /* Increased padding for more space */
  background-color: white; /* Set background to white */
  width: 100%; /* Full width */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  position: fixed; /* Keep it fixed at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it's above other content */
}

.left-section,
.middle-section,
.right-section {
  display: flex;
  align-items: center; /* Center items vertically */
}

.middle-section {
  flex: 1;
  justify-content: center; /* Center contents horizontally */
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar i {
  color: #333;
  margin-right: 5px;
  font-size: 16px;
}

.search-bar input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  outline: none;
  font-size: 20px;
  width: 150px;
  background-color: transparent;
  transition: width 0.4s ease; /* Smooth expansion */
}

.search-bar input:focus {
  /*width: 250px;  New width on focus */
  border-bottom: 1px solid #000;
}

.search-bar input::placeholder {
  color: #333;
}

.logo-text-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.school-text {
  text-align: center;
}

.school-text h1 {
  font-size: 50px; /* Slightly larger for emphasis */
  font-weight: bold;
  color: #1d1d35;
}

.school-text span {
  font-size: 20px; /* Adjusted for better alignment */
  color: #333;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-section a {
  margin-left: 25px; /* Increased margin for spacing */
  text-decoration: none;
  color: #333;
}

.right-section .login {
  display: flex; /* Use flex to align items */
  align-items: center; /* Center items vertically */
  color: #333; /* Text color */
}

.right-section .login i {
  margin-right: 15px; /* Adjust margin to reduce space between icon and text */
}

.right-section i {
  font-size: 20px;
}

/*-------NAVBAR-------*/
.navbar {
  position: fixed; /* Keep it fixed under the top bar */
  top: 140px; /* Adjust based on the height of the top bar */
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other content */
  background-color: #1d1d35; /* Dark background for the navbar */
  padding: 15px 0; /* Increased padding for top and bottom */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.navbar ul {
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: center; /* Center the items */
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 30px; /* Increased spacing between items */
}

.navbar a {
  text-decoration: none; /* Remove underline */
  color: #ece4e0; /* Text color */
  font-size: 16px; /* Font size */
  padding: 10px 0px; /* Increased padding around text */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.navbar a:hover {
  color: #5c59da; /* Change color on hover */
}

body {
  padding-top: 140px; /* Ensure body content starts below the fixed header and navbar */
}

/*-------Main Content-------*/
.student-image-container {
  text-align: center; /* Center the image */
  margin-top: 45px; /* Space above the image to account for the fixed top bar and navbar */
  width: 100%; /* Full width */
  padding: 0; /* Remove any default padding */
  margin-bottom: 150px;
}

.student-image {
  width: 100%; /* Make the image full width of the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure no extra space below the image */
  margin: 0 auto; /* Center the image within the container */
}

.overlay-box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 80%;
}

.overlay-box h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

.overlay-box p {
  font-size: 25px;
  margin-bottom: 20px;
}

.learn-more-button {
  padding: 10px 20px;
  background-color: #5c59da;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.learn-more-button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.info-section {
  padding: 60px 20px;
  text-align: center;
  background-color: white; /* You can change the background color */
}

.info-container {
  max-width: 800px;
  margin: 0 auto;
}

.info-container h2 {
  font-size: 70px;
  font-weight: bold;
  color: #1d1d35; /* You can change the text color */
  margin-bottom: 30px;
  margin-top: 80px;
}
.info-container h3 {
  font-size: 30px;
  font-weight: bold;
  color: #1d1d35; /* You can change the text color */
  margin-bottom: 30px;
  margin-top: 80px;
}

.info-container p {
  font-size: 18px;
  margin-left: 140px;
  margin-right: 140px;
  color: #333; /* You can change the text color */
  line-height: 1.6;
}

.collage-container {
  margin-top: 30px; /* Space above the section */
  margin-left: 80px; /* Increase left space */
  margin-right: 80px; /* Increase right space */
  padding: 0; /* No padding for the container */
}

.collage-box {
  display: flex;
  align-items: stretch; /* Make both sections equal height */
  height: 600px; /* Set a specific height for each box */
  margin-bottom: 0; /* No margin between boxes */
}

.collage-image,
.collage-info {
  flex: 1; /* Make both sections take up equal width */
  width: 50%; /* Set each section to take up 50% of the width */
}

.collage-image img {
  width: 100%; /* Full width of the container */
  height: 100%; /* Fill the height of the container */
  object-fit:cover; /* Ensure the image covers the container without distortion */
  overflow: hidden;
}

.collage-info {
  padding: 0px; /* Padding for inner content */
  background-color: #1d1d35; /* Background color */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text */
}

.collage-info h2 {
  font-size: 50px; /* Heading size */
  margin-bottom: 30px; /* Space below the heading */
  color: #5c59da; /* Heading color */
  font-weight: lighter;
}

.collage-info h3 {
  font-size: 20px; 
  color: rgb(245, 245, 245);
  font-weight: lighter;
}

#contact-form p{
  font-size: 16px;
  color: #c9c5c3; 
  padding-bottom: 10px;
}

.collage-info p {
  font-size: 20px; /* Paragraph text size */
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 10px;
  margin-bottom: 15px; /* Space below the paragraph */
  color: #ece4e0; /* Paragraph text color */
  line-height: 1.8;
}

.collage-button {
  display: inline-block; /* Make it a block element for padding */
  padding: 10px 15px; /* Button padding */
  background-color: #5c59da; /* Button background color */
  color: #ece4e0; /* Button text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Transition for hover effect */
  margin-top: 20px; /* Space above button */
  margin-bottom: 100px;
}

.collage-button:hover {
  background-color: white; /* Darker shade on hover */
  color: black;
}

/* Adjusting order for alternating layout */
.collage-image-left {
  order: 1;
}

.collage-info {
  order: 2;
}

.collage-image-right {
  order: 2;
}

.collage-box:nth-child(even) .collage-image-right {
  order: 2;
}

.collage-box:nth-child(even) .collage-info {
  order: 1;
}

.main-content {
  padding: 0px;
  height: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.form-group input,
.form-group textarea {
  width: 48%; /* Make inputs share space */
  padding: 10px;
  border: 1px solid #fff; /* White border for outline */
  background-color: transparent;
  color: #fff; /* Text color */
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group textarea {
  width: 100%;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #bbb; /* Placeholder color */
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #4c4cff; /* Blue border on focus */
}

button.collage-button {
  width: 100%;
  padding: 15px;
  background-color: #4c4cff; /* Button background color */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
}

button.collage-button:hover {
  background-color: #3939e6; /* Darker blue on hover */
}


/*-------Footer-------*/
.footer {
  background-color: #1d1d35; /* Dark background color */
  color: #ece4e0; /* Text color */
  padding: 60px 20px; /* Padding for spacing */
  margin-bottom: 10px;
  margin-top: 150px;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Space between sections */
  align-items: flex-start; /* Align items at the start */
  max-width: 1200px; /* Maximum width for the footer */
  margin: 0 auto; /* Center the footer container */
}

.footer-section {
  flex: 1; /* Evenly distribute space between sections */
  margin-right: 20px; /* Right margin between sections */
}

.footer-section h3 {
  font-size: 20px;
  color: #5c59da; /* Heading color */
  margin-bottom: 15px; /* Space below heading */
}

.footer-section ul {
  list-style-type: none; /* Remove list bullets */
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px; /* Space between list items */
}

.footer-section ul li a {
  color: #ece4e0; /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Transition for hover */
}

.footer-section ul li a:hover {
  color: #5c59da; /* Hover color */
}

.footer-logo {
  width: 100px; /* Adjust logo size */
  margin-bottom: 10px; /* Space below logo */
}

.logo-section h2 {
  font-size: 24px;
  margin: 10px 0 5px; /* Space around heading */
}

.logo-section p {
  font-size: 14px;
  color: #ece4e0; /* Secondary text color */
}

.footer-section:last-child {
  margin-right: 0; /* Remove margin from last section */
}

.footer-section p {
  margin: 5px 0; /* Space between address lines */
}

.footer-section p a {
  text-decoration: none; /* Remove underline */
  color: #ece4e0; /* Custom text color */
  font-size: 16px; /* Font size */
  padding: 10px 0px; /* Padding around text */
  transition: color 0.3s;
}

.footer-section p a:hover {
  color: #5c59da;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: white;
  color: #333; /* Text color */
  font-size: 14px;
}

.footer-bottom p {
  margin-bottom: 5px;
}


/*UNIFORM RETAILER CSS*/

/* Styling for the search bar */
.search-container {
  margin-bottom: 20px;
  text-align: left;
  margin-left: 20px;
}

#searchInput {
  width: 300px;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

#searchInput:focus {
  border-color: #5c59da;
}

/* Table styling */
.retailers-table {
  width: 97%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd;
  margin-left: 20px;
}

.retailers-table th, .retailers-table td {
  padding: 12px;
  text-align: left;
}

.retailers-table th {
  background-color: #5c59da;
  color: white;
  font-size: 1.1em;
}

.retailers-table td {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.retailers-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.retailers-table tr:hover {
  background-color: #f1f1f1;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .search-container {
    text-align: left;
  }

  #searchInput {
    width: 100%;
  }

  .retailers-table th, .retailers-table td {
    padding: 8px;
  }

  .retailers-table th {
    font-size: 1em;
  }
}

/*CAREERS CSS*/
.jobs-list {
  margin-top: 20px;
}

.job-item {
  background-color: #1d1d35;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-left: 20px;
  margin-right: 20px;
}

.job-item h3 {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: white;
}

.job-details {
  display: none;
  background-color: #c0bbbb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.apply-button {
  background-color: #5c59da;
  color: #ece4e0;
  text-decoration: none;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.apply-button:hover {
  background-color: white;
  color: black;
}

.detail-btn {
  background-color: #5c59da;
  color: #ece4e0;
  text-decoration: none;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.detail-btn:hover {
  background-color: white;
  color: black;
}

.dropdown {
  text-decoration: none; /* Remove underline */
  color: #ece4e0; /* Text color */
  font-size: 16px; /* Font size */
  transition: color 0.3s;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  
  
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #5c59da; /* Change color on hover */
}

.dropdown:hover .dropdown-content {
  display: block;
}


.join-network {
  text-align: center;
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 8px;
}

.join-network h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}


/* Curriculum */

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

