<div class="side-bar">

    <div class="profile">
       <img src="images/pic-1.jpg" class="image" alt="">
       <p class="role">Anas Shaikh</p>
    </div>
 
    <nav class="sidebar">
       <a href="profile.html" style="border-radius: 20px;"><i class="fas fa-home"></i><span>HOME</span></a>
       <a href="Attendence.html" style="border-radius: 20px;"><i class="fas fa-calendar-alt"></i><span>ATTENDENCE</span></a>
       <a href="Grades.html" style="border-radius: 20px;"><i class="fas fa-graduation-cap"></i><span>GRADES</span></a>
       <a href="Feepayment.html" style="border-radius: 20px;"><i class="fas fa-chalkboard-user"></i><span>Online Fee Payment</span></a>
       <a href="#" style="border-radius: 20px;"><i class="fas fa-headset"></i><span>Logout</span></a>
    </nav>
 
 </div>